<h1>Why Use Vellum?</h1>

<ul class="list-unstyled">
    <li>
        <h2>Structured</h2>
        <p>
            How many times have you forgotten what data a view file needs
            and had to sift through the html to figure out what to pass to it?
        </p>
        <p>
            Vellum uses PHP classes with display types and inputs that document
            an API that you can refer to when using a component.
        </p>
    </li>
    <li>
        <h2>Don't Repeat Yourself</h2>
        <p>Write components once and use them again and again.</p>

        <p>
            If you have your components in a separate library, then you can
            reuse them in every project.
        </p>
    </li>
    <li>
        <h2>Write Once</h2>
        <p>
            Once a component is coded, you can use it everywhere. No need to
            keep writing <code>&lt;a&gt;&lt;/a&gt;</code> tags every time.
        </p>
    </li>
    <li>
        <h2>Consistency and Compliance</h2>
        <p>
            Once you have accessible, on-brand components, your team can use
            the same html everytime without worrying about missing
            important attributes or classes.
        </p>
    </li>
</ul>
