<h2>Contact Vellum</h2>

<p>
    {{ vellum_component('link', {
        href: 'https://github.com/diatechnis/vellum/issues',
        name: 'Check the Issues page',
        target: 1
    }) }}
    if you are having trouble with Vellum.
</p>
