<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_title|default(page|title) }} - Vellum Example</title>
</head>
<body>
    {{ vellum_section('Header', {
        page_title: 'home' == page ? 'Vellum Example' : page_title,
        foo: bar
    }) }}

    <main id="main">
    {{ vellum_widget('Page', {page: page}) }}
    </main>
</body>
</html>
